<div class="mode-overview panel">
  <h2>Comparison</h2>

  <!-- Route Evaluation -->
  <div class="route-eval-wrapper">

    <!-- Loading Template -->
    <div *ngIf="loading; else content">
      <div class="progress-wrapper">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="3"
                           animationDuration=".5s"></p-progressSpinner>
      </div>
    </div>

    <!-- Content container -->
    <ng-template #content>
      <route-evaluation *ngFor="let route of routes | async" [routeEval]="route"></route-evaluation>
    </ng-template>
  </div>

</div>
