<div class="sidebar-wrapper">
  <div class="sidebar panel">
    <h2>Route Selection</h2>

    <div class="start-destination-wrapper">
    <span class="p-float-label">
      <p-autoComplete id="start-input" [(ngModel)]="start" [suggestions]="startSuggestions"
                      (completeMethod)="search(startMode, $event)" (onKeyUp)="checkInvalid()"
                      [ngClass]="{'ng-invalid': startInvalid, 'ng-dirty': startInvalid}"></p-autoComplete>
      <label for="start-input" class="label" [ngClass]="{'invalid': startInvalid}">Start</label>
      <small class="p-error" *ngIf="startInvalid">Start is required.</small>
    </span>

      <span class="p-float-label">
      <p-autoComplete id="destination-input" [(ngModel)]="destination" [suggestions]="destinationSuggestions"
                      [ngClass]="{'ng-invalid': destinationInvalid, 'ng-dirty': startInvalid}"
                      (onKeyUp)="checkInvalid()"
                      (completeMethod)="search(destinationMode, $event)"></p-autoComplete>
      <label for="destination-input" class="label" [ngClass]="{'invalid': destinationInvalid}">Destination</label>
      <small class="p-error" *ngIf="destinationInvalid">Destination is required.</small>
    </span>
    </div>

    <div class="search-btn-wrapper">
      <button pButton pRipple label="Start Search" class="p-button-success search" (click)="startSearch()"></button>
    </div>
  </div>

  <div class="chatgpt-suggestions panel">
    <h2>Travel Guide</h2>

    <ng-container *ngIf="suggestions.length > 0; else noSuggestions">
      <ul class="suggestion-list">
        <li *ngFor="let suggestion of suggestions">
          {{ suggestion.location }} ({{ suggestion.address }})
        </li>
      </ul>
    </ng-container>

    <ng-template #noSuggestions>
      <ng-container *ngIf="introText">
        <span>{{ introText }}</span>
      </ng-container>
    </ng-template>
  </div>
</div>
