.route-eval {
  padding: 0;
}

.heading {
  padding: var(--default-padding);
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid var(--clr-border-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.indicators {
  padding: var(--default-padding);
  //padding-top: calc(0.5 + var(--default-padding));
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h4 {
  padding: 0;
  margin: 0;
}

.button {
  padding: var(--default-btn-padding);
}
