h1 {
  color: red;
}

.layout {
  width: 100vw;
  height: 100vh;
  padding: var(--grid-gap);
  margin: 0;
  background-color: var(--clr-bg-primary);

  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "header header header"
    "sidebar mode-overview map"
    "sidebar mode-overview map";
  gap: var(--grid-gap);
}

.mode-overview {
  grid-area: mode-overview
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.map-component {
  grid-area: map;
}

