<div class="map-wrapper panel">
  <google-map height="100%" #map
              width="100%"
              [center]="center"
              [zoom]="zoom"
              (mapClick)="addMarker($event)"
              (mapMousemove)="move($event)">

    <map-marker #marker="mapMarker" *ngFor="let m of markers"
                (mapClick)="openInfoWindow(marker)"
                [options]="m"></map-marker>

    <map-info-window>Info Window content</map-info-window>

    <!-- Show Map Traffic -->
    <!--    <map-traffic-layer [autoRefresh]="false"></map-traffic-layer>-->

    <!-- Show Transit (TODO: Check if it really works) -->
    <!--    <map-transit-layer></map-transit-layer>-->

    <!-- Show Bicycle  -->
    <!--    <map-bicycling-layer></map-bicycling-layer>-->

    <map-polyline *ngFor="let route of routes" [path]="route.directions" [options]="route.options"></map-polyline>

    <!-- Show Map Direction -->
    <!--    <map-directions-renderer *ngFor="let route of routes" [options]="testOptions"
                                 [directions]="directions"></map-directions-renderer>-->

  </google-map>

</div>


