<div class="number-indicator">
  <ng-container [ngSwitch]="formattingMode">
    <p class="content" [style.color]="color" *ngSwitchCase="'distance'">{{ content | distanceFormat }}</p>
    <p class="content" [style.color]="color" *ngSwitchCase="'time'">{{ content | timeFormat }}</p>
    <p class="content" [style.color]="color" *ngSwitchDefault>{{ content }}</p>
  </ng-container>
  <ng-container [ngSwitch]="formattingMode">
    <p class="content" *ngSwitchCase="'distance'">{{ content | distanceUnit }}</p>
    <p class="content" *ngSwitchCase="'time'">{{ content | timeUnit }}</p>
    <p class="content" *ngSwitchDefault>{{ unit }}</p>
  </ng-container>
</div>
