<div class="number-indicator">
  <ng-container [ngSwitch]="formattingMode">
    <p class="content" [style.color]="color" *ngSwitchCase="'distance'">{{ content | distanceFormat }}</p>
    <p class="content" [style.color]="color" *ngSwitchCase="'time'">{{ content | timeFormat }}</p>
    <p class="content" [style.color]="color" *ngSwitchCase="'co2'">{{ content | co2Format }}</p>
    <p class="content" [style.color]="color" *ngSwitchDefault>{{ content | roundToTwoDecimals }}</p>
  </ng-container>
  <ng-container [ngSwitch]="formattingMode">
    <p class="unit" *ngSwitchCase="'distance'">{{ content | distanceUnit }}</p>
    <p class="unit" *ngSwitchCase="'time'">{{ content | timeUnit }}</p>
    <p class="unit" *ngSwitchCase="'co2'">{{ content | co2Unit }}</p>
    <p class="unit" *ngSwitchDefault>{{ unit | roundToTwoDecimals  }}</p>
  </ng-container>
</div>
